#nbasymbol {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: url("../images/nbawallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team {
    font-family: 'Play', sans-serif;
    font-size: 24px;
}

form {
    font-family: 'Play', sans-serif;
    font-size: 24px;
}

h1 {
    font-family: 'Play', sans-serif;
    font-size: 50px;
}

span {
    font-family: 'Play', sans-serif;
    font-size: 24px;
}